<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.htwdd"
    android:versionCode="3621"
    android:versionName="3.62" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ExampleTheme" >
        <activity
            android:name=".fragments.ResponsiveUIActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/ExampleTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WizardWelcome" >
        </activity>
        <activity android:name=".WizardFinal" >
        </activity>
        <activity
            android:name=".WizardStudyGroup"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".WizardBibliothek"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".TerminAnfragePopup"
            android:label="Termin anfragen" >
        </activity>
        <activity
            android:name=".EditTimetable"
            android:label="Stunde Bearbeiten"
            android:theme="@android:style/Theme.Panel" >
        </activity>
        <activity
            android:name=".datepicker"
            android:label="Termin wählen" >
        </activity>
        <activity
            android:name=".Preference"
            android:label="Einstellungen" >
        </activity>

        <service android:name=".UpdateTimetableSmallWidgetService" />

        <receiver
            android:name=".WidgetTimetableSmallProvider"
            android:label="HTWDD Stundenübersicht" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_timetable" />
        </receiver>

        <service android:name=".UpdateMensaWidgetService2" />

        <receiver
            android:name=".WidgetMensa_6"
            android:label="HTWDresdem Mensa" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mensa_6" />
        </receiver>


        <receiver
            android:name=".WidgetMensa_4"
            android:label="HTWDresden Mensa">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mensa_4" />
        </receiver>

    </application>

</manifest>