<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.htwdd"
    android:versionCode="3610"
    android:versionName="3.61" >

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/ExampleTheme" >        

        <activity
            android:name="de.htwdd.fragments.ResponsiveUIActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/ExampleTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WizardWelcome"
            android:label="HTWDD"
			android:theme="@style/ExampleTheme">
        </activity>
        <activity
            android:name=".WizardFinal"
            android:label="HTWDD"
			android:theme="@style/ExampleTheme">       
        </activity>
        <activity
            android:name=".WizardMatrikel"
            android:label="HTWDD"
            android:theme="@style/ExampleTheme">      
        </activity>        
        <activity
            android:name=".WizardStudyGroup"
            android:windowSoftInputMode="adjustPan"
			android:theme="@style/ExampleTheme"         
            android:label="HTWDD">
        </activity>        
        <activity
			android:windowSoftInputMode="adjustPan"            
            android:name=".WizardBibliothek"
            android:label="HTWDD"     
			android:theme="@style/ExampleTheme">         
        </activity>
		<activity
            android:name="de.htwdd.TerminAnfragePopup"
            android:label="Termin anfragen"           
            android:theme="@style/ExampleTheme">       
        </activity>       
       <activity
            android:name="de.htwdd.EditTimetable"
            android:label="Stunde Bearbeiten"
            android:theme="@android:style/Theme.Panel">       
        </activity>           
        <activity
            android:name="de.htwdd.datepicker"
            android:label="Termin wählen"
            android:theme="@style/ExampleTheme">       
        </activity>          
        <activity
            android:name="de.htwdd.Preference"
            android:label="Einstellungen"
            android:theme="@style/ExampleTheme">       
        </activity>

		<service android:name="de.htwdd.UpdateTimetableSmallWidgetService"></service>
        <receiver android:name="de.htwdd.WidgetTimetableSmallProvider"
			android:label="HTWDD Stundenübersicht">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_timetable" />
        </receiver>        
        
		<service android:name="de.htwdd.UpdateMensaWidgetService"></service>
        <receiver android:name="de.htwdd.WidgetMensaProvider"
			android:label="HTWDD Mensa 4x">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mensa_4" />
        </receiver>
		
		<service android:name="de.htwdd.UpdateMensaWidgetService2"></service>
        <receiver android:name="de.htwdd.WidgetMensaProvider2"
			android:label="HTWDD Mensa 6x">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mensa_6" />
        </receiver>
    </application>
</manifest>