<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.htwdd"
    android:versionCode="3600"
    android:versionName="3.6" >
    
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ExampleTheme" >        

        <activity
            android:name="de.htwdd.fragments.ResponsiveUIActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/ExampleTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PropertiesActivity" />
        <activity android:name=".LeftAndRightActivity" />
        <activity android:name=".AttachExample" />
        <activity android:name=".anim.CustomScaleAnimation" />
        <activity android:name=".anim.CustomZoomAnimation" />
        <activity android:name=".anim.CustomRotateAnimation" />
        <activity android:name=".anim.CustomSlideAnimation" />
        <activity android:name=".SlidingTitleBar" />
        <activity android:name=".SlidingContent" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name="de.htwdd.fragments.FragmentChangeActivity" />
        <activity
            android:name="de.htwdd.Wizard1"
            android:label="HTWDD"
			android:theme="@style/ExampleTheme">       
        </activity>        
        <activity
            android:name="de.htwdd.Wizard6"
            android:label="HTWDD"
			android:theme="@style/ExampleTheme">       
        </activity>        
		<activity
			android:windowSoftInputMode="adjustPan"          
            android:name="de.htwdd.Wizard2"
            android:label="HTWDD"
			android:theme="@style/ExampleTheme">                
        </activity>        
        <activity
            android:name="de.htwdd.Wizard3"
            android:label="HTWDD"
            android:theme="@style/ExampleTheme">      
        </activity>        
        <activity
            android:name="de.htwdd.Wizard4"
            android:windowSoftInputMode="adjustPan"
			android:theme="@style/ExampleTheme"         
            android:label="HTWDD">
        </activity>        
        <activity
			android:windowSoftInputMode="adjustPan"            
            android:name="de.htwdd.Wizard5"
            android:label="HTWDD"     
			android:theme="@style/ExampleTheme">         
        </activity>
		<activity
            android:name="de.htwdd.TerminAnfragePopup"
            android:label="Termin anfragen"           
            android:theme="@style/ExampleTheme">       
        </activity>       
       <activity
            android:name="de.htwdd.EditTimetable"
            android:label="Stunde Bearbeiten"
            android:theme="@android:style/Theme.Panel">       
        </activity>           
        <activity
            android:name="de.htwdd.datepicker"
            android:label="Termin wählen"
            android:theme="@style/ExampleTheme">       
        </activity>          
        <activity
            android:name="de.htwdd.Preference"
            android:label="Einstellungen"
            android:theme="@style/ExampleTheme">       
        </activity>

		<service android:name="de.htwdd.UpdateTimetableSmallWidgetService"></service>
        <receiver android:name="de.htwdd.WidgetTimetableSmallProvider"
			android:label="HTWDD Stundenübersicht">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_vorschau" />
        </receiver>        
        
		<service android:name="de.htwdd.UpdateMensaWidgetService"></service>
        <receiver android:name="de.htwdd.WidgetMensaProvider"
			android:label="HTWDD Mensa 4x">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info2" />
        </receiver>
		
		<service android:name="de.htwdd.UpdateMensaWidgetService2"></service>
        <receiver android:name="de.htwdd.WidgetMensaProvider2"
			android:label="HTWDD Mensa 6x">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info3" />
        </receiver>
    </application>
</manifest>